button.ant-btn.css-dev-only-do-not-override-6j9yrn.ant-btn-primary.ant-btn-lg.ant-input-search-button {
  background: var(--primary-color);
}

span.ant-select-selection-item {
  color: var(--dark-color) !important;
}

span.anticon.anticon-down.ant-select-suffix {
  color: var(--dark-color) !important;
}

button.ant-switch.mt-1.css-dev-only-do-not-override-6j9yrn {
  span.ant-switch-inner {
    background: black;
  }
}

button.ant-switch.mt-1.css-dev-only-do-not-override-6j9yrn.ant-switch-checked {
  span.ant-switch-inner {
    background: #4096ff;
  }
}
